


  
  
  .nav-menu {
    font-size: 2rem;
    background: none;
    background-color:#C6FBF8;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 2rem;
    text-decoration: none;

  }
  .menu-bars{
    text-decoration: none;
    color: #C6FBF8;
  }
  
   .active{
color: red
  }


  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    color: #FFFFFF;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  